@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Muli', sans-serif;
}



@media (min-width: 992px){
	.barra-topo-verde {
		height: 35px;
		background-color: #0f6b39;
		color: #ffffff;
	}
	.barra-topo-verde a {
		color: #ffffff;
	}
}
@media (max-width: 992px){
	.barra-topo-verde {
		height: auto;
		background-color: #0f6b39;
		color: #ffffff;
		padding: 0 5px;
	}
	.barra-topo-verde a {
		color: #ffffff;
	}
	.barra-topo-verde .nav-item {
		display: inline-flex;
    	margin-right: 8px;
	}
}
.item-carrinho {
    width: 45%;
    word-break: break-word;
    font-size: 12px;
    line-height: 14px;
}
.price-new, .price {
    margin-right: 5px;
    font-weight: 800;
    color: green;
}

*
.dropdown-carrinho{
    min-width: 320px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.ofertadodia {
    background-color: #24b365;
    margin: -10px 0px;
    padding: 0px 7px;
    text-align: center;
    border-radius: 5px;
}
.ofertadodia .nav-link {
	color: #ffffff !important;
	font-family: 'Kalam', cursive;
}
@media (max-width: 992px){
	.ofertadodia {
		margin: 0px -15px;
		padding: 0px 7px;
		text-align: center;
	}
}

.dropdown-menu.show {
    display: block;
    min-width: max-content;
}
#seletor .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    /* float: left; */
    /* min-width: 10rem; */
    /* padding: 0 0; */
    margin: -21px 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #0f6b39;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
}

#seletor .dropdown-item {
    display: block;
    width: 100%;
    padding: 0 7px 0px 7px;;
    clear: both;
    /* font-weight: 400; */
    /* color: rgba(0, 0, 0, 0.5); */
    /* text-align: inherit; */
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
#seletor .dropdown-toggle::after {
    display: none;
}

.dropdown-item .bandeira {
    max-width: 20px;
    padding: 0 !important;
    margin-top: 3px !important;
}
.bandeira {
    max-width: 20px;
    padding: 0 !important;
    margin-top: 17px !important;
}
.bandeira.disabled{
    filter: opacity(0.5)
}
.cellonly .bandeira {
    max-width: 20px;
    padding: 0 !important;
    margin-top: 0 !important;
}

.img-banner {
	min-height: 200px;
	overflow: hidden;
}
/*
*
* ==========================================
* MEGA MENU
* ==========================================
*
*/

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

/* ************************************ */



#localizacaoinicio .modal-body {
	padding: 15% 10px 20% 10px;
}
#localizacaoinicio .modal-content {
	background-color: #d2164a;
	color: #ffffff;
}
#localizacaoinicio .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}
#localizacaoinicio .modal-header {
	border-bottom: 0;
}
@media (max-width: 992px){
	#navbarTop .navbar-nav {
		display: block;
	}
	#navbarTop .nav-link {
		padding: 0;
	}
}
.caminho {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 5px;
}


/*
*
* ==========================================
* RESPONSIVIDADE
* ==========================================
*
*/
.deskonly {
    display: none;
  }
.cellonly {
	display: none;
}
@media (min-width: 992px) {
  .deskonly {
    display: block;
  }
}
@media (max-width: 992px) {
  .cellonly {
    display: block;
  }
.cellonly	.widget-header {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    position: relative;
}
}

